UpdateInterval=1
TimeScale=1
Size=80
Mode=0
Frame=0
Border=0
Bars=1
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=rgb(114,159,207)
Foreground2=rgb(52,101,164)
Foreground3=rgb(0,0,255)
Background=rgb(0,0,0)
BarsColor=rgb(136,138,133)

